html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #eceaef;
}

a {
	text-decoration: none;
	color: black;
}

h3 {
	margin: 0;
}

.title {
	color: gold;
	width: 100%;
	margin-right: 25px;
	text-align: center;
}

.score-container {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 17px 34px;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
}

.game-details {
	background: white;
	border-radius: 5px;
	padding: 17px;
	line-height: 1.5;
}

.text-secondary {
	color: #b2b2b2;
}

.active-href {
	color: #a91e20;
	text-decoration: underline;
}

.text-highlight {
	font-weight: 800;
	font-size: 18px;
}

.margin-top {
	margin-top: 15px;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.form-dialog {
	width: 50%;
	margin-top: 30px;
}

.dropdown {
	min-width: 250px !important;
}

.MuiInput-underline-14:after {
	border-bottom: 2px solid #a91e20 !important;
}

.w300 {
	min-width: 300px !important;
}

.p15 {
	padding: 15px;
}

.w150 {
	width: 150px;
}

.card {
	padding: 15px;
	width: 92%;
	margin: 0 auto;
	margin-top: 20px;
}

.progress {
	margin: 0 auto;
	width: 90%;
}

.participant-form-container {
	border-radius: 5px;
	margin-top: 10px;
	padding: 7px;
	text-align: center;
}

.text-center {
	text-align: center;
}

.actions button {
	margin-left: 11px;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}

	.dropdown {
		min-width: 150px !important
	}

	.form-dialog {
		width: 80%;
	}
}


