body {
	font-family: 'Roboto', sans-serif;
	background-color: #eceaef;
}

a {
	text-decoration: none;
	color: black;
}

.title {
	color: gold;
	margin-left: 25px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.score-container {
	background: white;
	border-radius: 5px;
	padding: 17px;
	margin-top: 10px;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.game-details {
	background: white;
	border-radius: 5px;
	padding: 17px;
	margin-top: 10px;
	line-height: 1.5;
}

.text-secondary {
	color: #b2b2b2;
}

.text-highlight {
	font-weight: 800;
	font-size: 18px;
}

.margin-top {
	margin-top: 15px;
}

.display-none {
	display: none;
	}

.display-block {
	display: block;
}

.dropdown {
	min-width: 250px !important;
}

.MuiInput-underline-14:after {
	border-bottom: 2px solid #a91e20 !important;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 96%;
		margin: 0 auto;
	}
}


